- content_for :menu do
  = link_to "#", class: "button" do
    %i.map
    #{area.label}

%main.Area
  
  %header
    %div
    %hgroup
      %h1
        %i.map
        #{area.label}
      %h4 within #{pluralize area.radius, "mile"} of #{area.address}
  
  %script{type: "text/javascript"}
    \//<![CDATA[
    var area = new M('main.Area > header > div', #{area.bounds}, '#{image_path "icons/marker.png"}');
    \//]]>
    
  %div
    = render area.posts.listing, area: area, map: "area"