%article.Post

  %header
    %i.pin
    #{post.place.address}
    
  %div
      
    %section
      = simple_format post.message
      
    %footer
      %figure
        = image_tag post.user.avatar.url(:tiny) unless post.user.avatar.nil?
      %ul 
        %li #{link_to post.user.username, post.user} 
        %li #{link_to "#{time_ago_in_words post.created_at} ago", post}
        
  - if map
    %script{type: "text/javascript"}
      \//<![CDATA[
      #{map}.addPlace([#{post.place.latitude}, #{post.place.longitude}]);
      \//]]>