%article.post
  %figure
    = image_tag post.user.avatar.url(:small) unless post.user.avatar.nil?
  %div
    %header
      %h3= link_to post.user.username, post.user
      %h5= post.place.address
    = simple_format post.message
    %footer
      %label posted #{time_ago_in_words post.created_at} ago